{% extends 'base.html.twig' %}

{% block title %}Программы обучения{% endblock %}

{% block content %}
    <div class="row">
        {% if cookie %}
            <a href="{{ path('create') }}" class="btn btn-primary">создать программу обучения</a>
        {% else %}
            <a href="{{ path('new') }}" class="btn btn-primary">создать учасника</a>
        {% endif %}
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Thumbnail</th>
          <th scope="col">Title</th>
        </tr>
      </thead>
          <tbody>
      {% for program in programs if program.level  == 0 %}
            <tr>
              <td><img src="{{ asset('images/'~ program.images) }}" width="100px"/></td>
              <td><a href="{{ path(program.link, { 'slug': program.id }) }}">{{ program.title }}</a></td>
            </tr>
            
                        {% for prog in programs if prog.level == 1 %}
                            {% if prog.parentId == program.id %}
                            <tr class="ml-4">
                                <td class="text-center"><img src="{{ asset('images/'~ prog.images) }}" width="100px"/></td>
                                <td class="text-center"><a href="{{ path(prog.link, { 'slug': prog.id }) }}">{{ prog.title }}</a></td>
                            </tr>
                            
                                {% for pro in programs if pro.level == 2 %}
                                {% if pro.parentId == prog.id %}
                                <tr class="ml-4">
                                    <td class="text-right"><img src="{{ asset('images/'~ pro.images) }}" width="100px"/></td>
                                    <td class="text-right"><a href="{{ path(pro.link, { 'slug': pro.id }) }}">{{ pro.title }}</a></td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            
                            {% endif %}
                        {% endfor %}
           
      {% endfor %}
          </tbody>
    </table>
{% endblock %}
